<h1>Produtos</h1>

<div class="products">

    {{#each products}}
        <div class="product">
            <h2>{{this.name}}</h2>
            <img src="{{this.image}}" alt="{{this.name}}">
            <h3>R$ {{this.price}}</h3>
            
            <div class="actions">
                <a href="/products/{{this._id}}" class="btn">Detalhes</a>
            </div>

        </div>
    {{/each}}

</div>