<div class="product-page">
    <h1>{{product.name}}</h1>
    <a href="/products" class="btn">Voltar</a>
    <p>Preço: R$ {{product.price}}</p>
    <img src="{{product.image}}" alt="{{product.name}}">
    <p>{{product.description}}</p>
</div>